<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{ seo_pro:meta }}
		{{ if global_site:favicon }}
			{{ global_site:favicon | favicon }}
		{{ /if }}
		{{ if global_site:theme_color }}
			<meta name="theme-color" content="{{ global_site:theme_color }}" />
		{{ /if }}
		{{ vite src="resources/js/site.js|resources/css/site.css" }}
		{{ if global_site:site_header_code }}
			{{ global_site:site_header_code }}
		{{ /if }}
	</head>
	<body>
		{{# Site Header #}}
		{{ partial:shared/site-header }}
		{{# Site Main #}}
		<main class="site-main">
			{{ template_content }}
		</main>
		{{# Site Footer #}}
		{{ partial:shared/site-footer }}
		{{# Google Tag Manager #}}
		{{ partial:lform/system/gtag-manager }}
		{{ if global_site:site_footer_code }}
			{{ global_site:site_footer_code }}
		{{ /if }}
	</body>
</html>
